* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: start;
  /* justify-content: space-between; */
}

main {
  margin-left: 10%;
}
